/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #1d8ad2;
  --ifm-color-primary-dark: #1a7cbd;
  --ifm-color-primary-darker: #1975b2;
  --ifm-color-primary-darkest: #146193;
  --ifm-color-primary-light: #2697e1;
  --ifm-color-primary-lighter: #309ce2;
  --ifm-color-primary-lightest: #50abe7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1d8ad2;
  --ifm-color-primary-dark: #1a7cbd;
  --ifm-color-primary-darker: #1975b2;
  --ifm-color-primary-darkest: #146193;
  --ifm-color-primary-light: #2697e1;
  --ifm-color-primary-lighter: #309ce2;
  --ifm-color-primary-lightest: #50abe7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
